.venv/
.camas/
build/
testbeds/modules/
testbeds/zephyr/
dist/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.ruff_cache/
.mypy_cache/
.pyright/
*.egg-info/
testbeds/bootloader/
testbeds/doc/
testbeds/tools/
