[submodule "testbeds/zephyr"]
	path = testbeds/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
[submodule "references/pexplorer"]
	path = references/pexplorer
	url = https://github.com/paulwuertz/pexplorer
[submodule "references/camas"]
	path = references/camas
	url = https://github.com/JPHutchins/camas
[submodule "references/salix"]
	path = references/salix
	url = https://github.com/JPHutchins/salix
